body {
	background-color: rgb(40, 40, 40);
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	color: rgb(255, 255, 255);
}


h1 {
	margin: 0 auto;
	font-size: 40px;
	margin-top: 40px;
	margin-bottom: 20px;
}

#form {
	margin: 0 auto;
}

#btn1 {
	display: block;
	margin: 0 auto;
	margin-top: 20px;
}

#my_uri {
	margin-left: 60px;
	margin-right: 60px;
}

.inline {
	display: inline;
	border: 1px solid white;
	vertical-align: middle;
	padding-left: 10px;
	padding-right: 10px;
}

.pa1 {
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #99CC99;
}

.pa2 {
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #CC9999;
}

.pa3 {
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #FFCC99;
}

.top1 {
	display: inline-block;
	margin-left: 40px;
	margin-right: 40px;
	color: #99CC99;
}

.top2 {
	display: inline-block;
	margin-left: 40px;
	margin-right: 40px;
	color: #CC9999;
}

.top3 {
	display: inline-block;
	margin-left: 40px;
	margin-right: 40px;
	color: #99CC99;
}

.footer {
	font-size: 12px;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding-bottom: 40px;
}

.text {
	font-size: 12px;
}

.charts {
	width: 600px;
	margin: 0 auto;
}

.donut {
	float: left;
	display: inline-block;
}